<h1>Points#create</h1>

<h3>作成できました</h3>
<%= link_to "さらに作成する", new_product_point_path, class:"#" %>
<%#= link_to "商品編集ページに戻る", edit_product_path(@product.id), class:"#" %>
<%= link_to "topに戻る", root_path, class:"#" %>
