<%= render "shared/header" %>

<div class="done-wrap">
    <div class="done-container">
      <div class="done-box">
        <h1>ご予約完了しました。</h1>
        <p>ありがとうございます。<br>
          ご予約が完了しました。<br>
          確認のメールをお送りしましたので、予約内容を必ずご確認ください。
        </p>
        <div class="back-container">
          <div class="back-container-box">
            <%= link_to "トップへ戻る", samples_guest_sign_in_path, method: :post, class:"btn btn-default back-button" %>
          </div>
        </div>
      </div>
    </div>
    <!------フッター------>
  <div class="footer">
    <div class="footer-demo">
      <div class="client-admin-if-login-box">
        <div class="company-info">
          <ul>
            <li>会社名<span>:</span>◯◯◯◯株式会社</li>
            <li>所在<span>:△△△県□□□市</span></li>
            <li>メール<span>:xxxx@kototabi.com</span></li>
            <li>TEL<span>:</span>0120-123-1234</li>
          </ul>
        </div>
      </div>
      <div class="client-menu">
        <ul>
          <li>
            <p>Admin</p>
          </li>
          <li>
            <%= link_to "予約管理", events_path, class:"client-menu-li" %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_sample_session_path, method: :delete, class:"client-menu-li" %>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-logo-box">
      <img src="/assets/sample_logo.png" alt="サンプルロゴ.png" class="footer-logo">
    </div>
  </div><!--footer-->
</div>

