  <div class="footer">
    <div class='client-wrap' >
      <div class="client-admin-if-login-box">
        <div class="company-info">
          <ul>
            <li>会社名<span>:</span>◯◯◯◯株式会社</li>
            <li>所在<span>:△△△</span></li>
            <li>e-mail<span>:xxxx@kototabi.com</span></li>
            <li>TEL<span>:</span>0120-123-1234</li>
          </ul>
        </div>
      </div>
      <div class="footer-logo-box">
        <img src="" alt="footer-logo.png" class="footer-logo">
      </div>
    </div><!--client-wrap-->
  </div><!--footer-->
