  <div class="footer">
    <div class='client-wrap' >
      <div class="client-admin-if-login-box">
        <div class="company-info">
          <ul>
            <li>会社名<span>:</span><%= @client.company_name %></li>
            <li>所在<span>:</span><%= @client.company_address %></li>
            <li>メール<span>:</span><%= @client.email %></li>
            <li>TEL<span>:</span><%= @client.tel %></li>
          </ul>
        </div>
      </div><!---client-admin-if-login-box--->
      <div class="footer-logo-box">
        <%#= image_tag "futter-logo.png", alt:"フッター画像", class:"footer-logo" %>
      </div>
    </div><!--client-wrap-->
  </div><!--footer-->
