<div class="header-wrap">
  <div class="header-main">
    <div class="header-left">
      <div class="header-logo-box">
        <%= link_to tops_path do %>
          <%= image_tag "codeless-haeder-ogo.png" %>
          <%#= link_to image_tag(@client.logo), tops_path %>
        <% end %>
      </div>
    </div>
    <div class="header-menu">
    </div>
  </div>
</div>