<div class="header-wrap">
  <div class="header-main">
    <div class="header-logo-box">
      <%= link_to image_tag("header-logo.png"), demos_path%>
    </div>
    <div class="header-menu">
    </div>
  </div>
</div>
