<div class="header-wrap">
  <div class="header-main">
    <div class="header-logo-box">
      <%= link_to image_tag("/assets/header-logo"),"/" %>
    </div>
    <div class="header-menu">
    </div>
  </div>
</div>