<h1>Events#index</h1>


<%# カレンダーの表示 %>
<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>

<%# イベントの表示 %>
  <ul class="event-list">
    <% events.each do |event| %>
    <li class="list">
      <%= link_to edit_event_path(event.id) do %>
        <%= event.num.name %>
      <% end %>
    </li>
  </ul>
      
  <% end %>
<% end %>