<h1>名前検索結果</h1>

<% if @users == nil %>
<p>検索結果はありません</p>
  <% else %>
    <%# @events.each do |event| %>
    <% @users.each do |user| %>
      <%= link_to edit_event_path(user.id) do %>
        <%= user.name %>
      <% end %>
    <% end %>
<% end %>


