.section-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-text {
  margin-top: 20px;
}

.section-sample {
  margin-top: 80px;
  margin-bottom: 40px;
}

.section-name {
  font-family: 'Crimson Text', serif;
}

.section small{
  margin-top: 10px;
}
