.section-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-text {
  margin-top: 20px;
}

.section-sample {
  margin-top: 80px;
  margin-bottom: 100px;
}

.section-name {
  font-family: 'Crimson Text', serif;
}

.section small{
  margin-top: 20px;
}


// demo list
.list_wrap {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 1200px;
  display: block;
}

.company-list {
  text-align: center;
  margin-top: 80px;
  padding: 70px 30px 40px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
  box-sizing: border-box;
}

.list h1 {
  color: #004E98;
}

.list-main {
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

.list-main {
  color: #004E98;
}

.list-main  p {
  font-size: 20px;
}

.list-name {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.list-name a {
  color: black;
  
}

.top_video {
}





// 機能紹介

.cover {
  background-color: rgb(17, 109, 255);
  width: 100%;
}

.cover-introduction {
  padding-top: 70px;
  padding-bottom: 40px;
  margin-left: 30px;
}

.font_0 {
  color: aliceblue;
  font-size: 54px;
  margin-bottom: 30px;
}


.cover-text p {
  font-size: 23px;
  line-height: 200%;
}

.cover-center {
  color: aliceblue;

}

.cover-create-button {
  position: relative;
  margin-top: 35px;
  margin-bottom: 50px;
  width: 300px;
  height: 70px;
  background-color: white;
  border-radius: 90px;
}

.cover-create-button h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.cover-br {
  border-top: solid 0.1px wheat;
}

.cover-footer {
  margin-top: 40px;
}

.cover-footer ul {
  display: flex;
}

.cover-footer-li-1 {
  color: white;
  border-right: solid 0.1px;
  padding-left: 0;
  padding-right: 30px;
  font-size: 23px;
}


.cover-footer-li {
  color: white;
  border-right: solid 0.1px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 23px;
}

.cover-footer a {
  color: white;
}


.about-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
}

.about-main {
  // width: 750px;;
  width: 100%;
  padding-top: 60px;
}

.about-main-create {
  width: 750px;;
  margin-top: 50px;
  margin-bottom: 80px;
}

.about-main-add {
  width: 750px;;
  margin-top: 50px;
  margin-bottom: 80px;
}

.about-main-edit {
  width: 750px;;
  margin-top: 50px;
  margin-bottom: 80px;
}

.about-admin{
  width: 750px;;
  margin-top: 50px;
  margin-bottom: 80px;
}

.about-main-create h1 {
  font-size: 48px;
}

.bout-main-create-text {
  margin-top: 30px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  font-size: 17px;
  line-height: 200%;
  border-bottom: solid 0.1px;
}

.about-main-add h1 {
  font-size: 48px;
}

.about-main-add-text {
  margin-top: 30px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  font-size: 17px;
  line-height: 200%;
  border-bottom: solid 0.1px;
}

.about-main-edit h1 {
  font-size: 48px;
}

.about-main-edit-text {
  margin-top: 30px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  font-size: 17px;
  line-height: 200%;
  border-bottom: solid 0.1px;
}

.about-main-admin h1 {
  font-size: 48px;
}

.about-admin-text {
  margin-top: 30px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  font-size: 17px;
  line-height: 200%;
  border-bottom: solid 0.1px;
}

.user-sin-login h2 {
  color: white;
  margin-bottom: 40px;
}

