// devise
.background_client{
  background-color:rgb(230, 230, 230);
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative;	 */
}

.login_ul{
  display: flex;
}

.devise_form{
  width:350px;
  height:35px;
}

.devise_title{
  margin:0;
}
