// devise
.background_client{
  background-color:rgb(230, 230, 230);
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.devise_main {
  margin: 20px 130px;
  padding-left: 50px;
  border-left: solid 0.1px rgb(230, 230, 230) ;
}


.devise_main h2 {
  margin: 10px;
}

.devise-item {
  margin: 20px;
}

.actions-btn {
  width: 60%;
}

.login_ul{
  display: flex;
}

.devise_form{
  width:350px;
  height:35px;
}

.devise_title{
  margin:0;
}
