/*ボタン*/
.editor_btn {
  position: fixed;
  top: 30px;
  left: 30px;
  cursor: pointer;
  z-index: 50;
}

.section_btn {
  // position: fixed;
  width: 60px;
  margin-left: 15px;
  cursor: pointer;
  z-index: 50;
}


/*サイドバー*/
.editor-side {
  position: fixed;
  background-color: #fffaf0e0;
  z-index: 30;
  width: 325px;
  height: 100vh;
  top: 0;
  padding-top: 130px;
}


// top-editor

.editor-side {
  // transition: opacity 0.4s;
}

.top-editor {
  margin: 20px;
}

.top-editor-submit-box {
  margin-top: 10px;
  margin-bottom: 10px;
}

.editor_btn img {
  width: 55px;
  height: 75px;
}

.add-button {
  margin-top: 10px;
  margin-bottom: 10px;
}




// product
.editor {
  padding-left: 30px;
}

.editor-title {
  margin-top: 10px;
  margin-bottom: 0px;
}

.delete-box {

}

// point
.point-editor {
  margin-bottom: 35px;
}

// itinerary
.itinerary-editor {
  margin-bottom: 35px;
}
