/*ボタン*/
.top-editor_btn {
  position: fixed;
  top: 30px;
  left: 40px;
  cursor: pointer;
  z-index: 50;
}

.top-editor_btn img {
  width: 65px;
}

.product-editor_btn {
  position: fixed;
  top: 100px;
  left: 40px;
  cursor: pointer;
  z-index: 50;
}

.product-editor_btn img {
  width: 65px;
}



.section_btn {
  // position: fixed;
  width: 60px;
  margin-left: 15px;
  cursor: pointer;
  z-index: 50;
}


/*サイドバー*/
.editor-side {
  position: fixed;
  background-color: hsla(0, 0%, 57%, 0.829);
  z-index: 30;
  width: 325px;
  height: 100vh;
  top: 0;
  // transition: opacity 0.4s;
}




// top-editor

.top-editor-said {
  margin-top: 140px;
  margin-left: 20px;
}

.top-editor-submit-box {
  margin-top: 10px;
  margin-bottom: 10px;
}

.editor_btn img {
  width: 55px;
  height: 75px;
}

.add-button {
  margin-top: 10px;
  margin-bottom: 10px;
}




// product
.editor {
  padding-left: 30px;
  margin-top :200px
}

.editor-title {
  margin-top: 10px;
  margin-bottom: 0px;
}


// point
.point-editor {
  margin-bottom: 35px;
}

// itinerary
.itinerary-editor {
  margin-bottom: 35px;
}
