// event
.form-contents {
  margin-left: 60px;
  // float: left;
}

.form-item {
  position: -webkit-sticky;
  position: sticky;
  top: 300px;
  left: auto;
  right: 170px;
  width: 350px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  border: 0.1px solid #E9EBF2;
}

.form-price-one {
  padding: 20px;
}

#one_price {
  font-size: 2.2rem;
  color: #dd5a6f;
}

.form-price-total {
  background-color: #E9EBF2;
  padding: 20px;
}

.form-price-one-inside {
  background-color: white;
  width: 100%;
}

#total_price {
  font-size: 3.8rem;
  color: #dd5a6f;
}

.form-input {
  padding: 20px;
}

.form-num {
  margin-bottom: 20px;
}

.form-num-title-box {
  margin-bottom: 5px;
}

.form-num-select {
  height: 30px;
  width: 200px;
}

.form-plan-title {
  margin-bottom: 5px;
}

select {
  height: 30px;
}
select {
  height: 30px;
}

.form-submit-box {
  margin-top: 40px;
  height: 50px;
}

.form-submit {
  background-color: #dd5a6f;
  color:white ;
  width: 100%;
  height: 100%;
}