// event
.form-contents {
  margin-left: 40px;
  z-index: 1000;
}


.form-item {
  background-color: white;
  position: sticky;
  top: 120px;
  width: 300px;
  height: auto;
  border: 0.1px solid #E9EBF2;
}

.form-price-one {
  padding: 20px;
}

#one_price {
  font-size: 2rem;
  color: #dd5a6f;
}

.form-price-total {
  background-color: #E9EBF2;
  padding: 20px;
}

.form-price-one-inside {
  background-color: white;
  width: 100%;
}

#total_price {
  font-size: 3rem;
  color: #dd5a6f;
}

.form-input {
  padding: 20px;
}

.form-num {
  margin-bottom: 20px;
}

.form-num-title-box {
  margin-bottom: 5px;
}

.form-num-select {
  height: 25px;
  width: 180px;
}

.form-plan-title {
  margin-bottom: 5px;
}

select {
  height: 25px;
}

.form-submit-box {
  margin-top: 40px;
  height: 40px;
}

.form-submit {
  background-color: #dd5a6f;
  color:white ;
  width: 100%;
  height: 100%;
}



// 確認画面
.conf-wrap {
  background-color: #f5f5f5;
  height: 100vh;
  padding-top: 65px;
}

.conf-container {
  background-color: white;
}

.conf-content {
  width: 470px;
  margin-left: auto;
  margin-right: auto;
  padding:20px ;
}

.pay-form-box h1 {
  margin-bottom: 40px;
  border-bottom: solid 0.1px #e5e5e5;
  width: 200px;
}

.pay-form {
  padding-left: 20px;
}

.card-num p {
  font: arial black;
  font-size: 20px;
  padding-bottom: 10px;
}

.pay-button p {
  width: 400px;
  height: 50px;
  color: #dc3545;
  margin-top: 30px;
}

.pay-submit {
  background-color: #dc3545;
  color:white ;
  width: 100%;
  height: 100%;
}

.input-expiration-number {
  font-size: 19px;
  width: 230px;
}

.input-expiration-date-wrap {
  margin-top: 30px;
}

.input-expiration-date-box {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}

.input-expiration-date-wrap li {
  font-size: 19px;
  padding-bottom: 10px;
  display: flex;
}

.input-expiration-date-box input {
  width: 60px;

}

.input-expiration-s input {
  font-size: 19px;
  width: 170px;
}

.expiration-date {
margin-left: 5px;
margin-right:20px;
}


// 確認
.conf-title-box {
  margin-top: 50px;
}

.conf-title {
  margin-top: 30px;
  margin-bottom: 30px;
}

.conf-title-box h1 {
  margin-top: 30px;
  margin-bottom: 40px;
  border-bottom: solid 0.1px #e5e5e5;
  width: 250px;
}

.conf-title {
padding-left: 10px;
}

.conf-title span {
  font-size: 50px;
  color: #dc3545;
}

.conf-title p {
  font-size: 19px;
  margin: 10px;
}

.number {
  width: 200px;
}

.cvc {
  width: 280px;
}




// 完了画面
.done-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 1100px;
  display: block;
}

.done-box {
  margin: 80px 0;
  padding: 30px;
  background-color: white;
  box-sizing: border-box;
}

.done-box h1 {
margin-top: 30px;
margin-bottom: 50px;
}

.done-box p {
  line-height: 250%;
  font-size: 20px;
}

.back-container {
  margin-top: 70px;
}

.back-container-box {
  text-align: center;
}

.back-button {
  text-align: center;
  color: black;
  width: 370px;
  height: 50px;
  background-color: rgb(239, 239, 239);
  padding: 13px;
  margin: auto;
  border: solid 0.1px  rgb(158, 158, 158);

}





.a-back {
  background-color: rgb(239, 239, 239);
  border: solid 0.1px  rgb(158, 158, 158);
}