// event
.form-contents {
  margin-left: 40px;
  z-index: 1000;
}

.products-main {
  display: flex;
}

.form-item {
  position: -webkit-sticky;
  position: sticky;
  top: 330px;
  width: 350px;
  height: auto;
  border: 0.1px solid #E9EBF2;
}

.form-price-one {
  padding: 20px;
}

#one_price {
  font-size: 2.2rem;
  color: #dd5a6f;
}

.form-price-total {
  background-color: #E9EBF2;
  padding: 20px;
}

.form-price-one-inside {
  background-color: white;
  width: 100%;
}

#total_price {
  font-size: 3.8rem;
  color: #dd5a6f;
}

.form-input {
  padding: 20px;
}

.form-num {
  margin-bottom: 20px;
}

.form-num-title-box {
  margin-bottom: 5px;
}

.form-num-select {
  height: 30px;
  width: 200px;
}

.form-plan-title {
  margin-bottom: 5px;
}

select {
  height: 30px;
}
select {
  height: 30px;
}

.form-submit-box {
  margin-top: 40px;
  height: 50px;
}

.form-submit {
  background-color: #dd5a6f;
  color:white ;
  width: 100%;
  height: 100%;
}



// 確認画面
.conf-wrap {
  background-color: #f5f5f5;
  height: 100vh;
}

.conf-container {
  background-color: white;
}

.conf-content {
  width: 470px;
  margin-left: auto;
  margin-right: auto;
  padding:20px ;
}

.pay-form-box h1 {
  margin-bottom: 40px;
  border-bottom: solid 0.1px #e5e5e5;
  width: 200px;
}

.pay-form {
  padding-left: 20px;
}

.card-num p {
  font: arial black;
  font-size: 20px;
  padding-bottom: 10px;
}

.pay-button p {
  width: 400px;
  height: 50px;
  color: #dc3545;
}

.pay-submit {
  background-color: #dc3545;
  color:white ;
  width: 100%;
  height: 100%;
}

.input-expiration-date-box {
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-expiration-date-wrap {
  margin-top: 30px;
}

.input-expiration-date-wrap p {
  font-size: 20px;
  padding-bottom: 10px;
}

.expiration-date {
margin-left: 20px;
}

.input-expiration-date-wrap span {
  padding-right: 10px;
}

.conf-title {
  margin-top: 30px;
  margin-bottom: 30px;
}

.conf-title-box h1 {
  margin-top: 30px;
  margin-bottom: 40px;
  border-bottom: solid 0.1px #e5e5e5;
  width: 250px;
}

.conf-title {
padding-left: 10px;
}

.conf-title span {
  font-size: 50px;
  color: #dc3545;
}

.conf-title p {
  font-size: 18px;
  margin: 10px;
}

.number {
  width: 200px;
}

.cvc {
  width: 280px;
}

