// footer


.company-info {
  color: #f8f9fa;
  font-size: 20px;

}

.client-admin-noaccount {
  color: #f8f9fa;
}

.client-admin-box {
  display: flex;
  justify-content: space-between;
}

.client-admin-login {
  color: #f8f9fa;
  width: 200px;
}

.client-admin-login ul {
  font-size: 20px;
}





.footer-logo-box {
  text-align: center;
}

.footer-logo-box img {
}

.footer-logo {
  margin: 20px;
}
