.header-main {
  width: 100%;
  height: 80px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
}

.header-main-1 {
  width: 100%;
  height: 80px;
  background: white;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
}

.header-left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.header-logo-sub {
  align-items: center;
}

.header-logo {
  size: 100%;
}

.header-introduction {
  color: white;
}

.header-introduction ul {
  display: flex;
  margin-left: 25px;
}

.header-introduction li {
  padding-left: 10px;
  margin-right: 20px;
  border-left: solid 0.1px white;
}

.header-introduction a {
  color: white;
  font-size: 22px;
  text-decoration: none;
}

.header-introduction-1 {
  color: white;
}

.header-introduction-1 ul {
  display: flex;
  margin-left: 25px;
}

.header-introduction-1 li {
  padding-left: 10px;
  margin-right: 20px;
  border-left: solid 0.1px black;
}

.header-introduction-1 a {
  color: black;
  font-size: 22px;
  text-decoration: none;
}


.header-logo-box {
  height: 80px;
}


.header-logo-box img {
  height: 70%;
  margin-top: 10px;
}

.header-right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.header-right-li {
  margin-left: 10px;
  margin-right: 10px;
}

.header-right-li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.header-right-li span {
  border: solid 0.1px white ;
  padding: 10px;
}







.header-right-li-1 {
  margin-left: 10px;
  margin-right: 10px;
}

.header-right-li-1 a {
  color: black;
  font-size: 20px;
  text-decoration: none;
}

.header-right-li-1 span {
  border: solid 0.1px black ;
  padding: 10px;
}