// itinerary
.itinerary_item {
  display: flex;
  justify-content: space-between;
}

.itinerary_item_info {
  margin-left: 15px;
}

.itinerary_item_time {
width: 150px;
}

.itinerary_item_title {
width: 500px;
height: 30px;
margin-bottom: 10px;
}

.itinerary_item_text {
  width: 500px;
  height: 150px;
}

.itinerary_item_img_box {
  margin-left: 30px;
}

.itinerary_item_img {
width: 260px;
height: 200px;
}
