/*ボタン*/
.hamburger_btn {
  position: fixed;
  top: 80px;
  right: 40px;
  width: 70px;
  height: 70px;
  cursor: pointer;
  z-index: 50;
}

.hamburger_btn .line {
  position: absolute;
  // top: 0;
  // left: 20px;
  width: 100%;
  height: 5px;
  background: white;
  text-align: center;
}

.hamburger_btn .line_01 {
  top: 5px;
  transition: 0.4s ease;
}
.hamburger_btn .line_02 {
  top: 35px;
  transition: 0.4s ease;
}
.hamburger_btn .line_03 {
  top: 65px;
  transition: 0.4s ease;
}


.btn_line01 {
  transform: translateY(10px) rotate(-45deg);
  transition: 0.4s ease;
}
.btn_line02 {
  transition: 0.4s ease;
  opacity: 0;
}
/* .btn_line03 {
  transform: translateY(-10px) rotate(45deg);
  transition: 0.4s ease;
} */

/*サイドバー*/
.menu-enter-active, .menu-leave-active {
  transition: opacity 0.4s;
}
.menu-enter, .menu-leave-to {
  opacity: 0;
}
.menu-leave, .menu-enter-to{
  opacity: 1;
}

.menu li {
  list-style: none;
  line-height: 1;
  padding: 15px;
}
.menu {
  background-color: #3e3d3de3;
  z-index: 30;
  padding: 200px 15px;
  position: fixed;
  width: 250px;
  height: 100vh;
  top: 0;
  right: 0;
}
.menu a {
  color: #f8f9fa;
  text-decoration: none;
  font-size: 20px;
  padding: 4px;
}
.menu ul{
  margin: 15px;
  padding: 0;
}
