// point
.point-container {
  margin-top: 100px;
}

.point-item {
  display: flex;
  justify-content: space-between;
}

.point-item-info {
  width: 500px;
}

.point-item-title {
  width: 500px;
  height: 30px;
}

.point-item-text {
  width: 500px;
  height: 250px;
}

.point-item-img {
  width: 350px;
  height: 240px;
  margin-left: 30px;
}

.point-img {
  width: 100%;
  height: 100%;
}

