// products_edit
.products-wrap {
  width: 100vw;
}

.products-wrap-main {
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.products-heading {
}

.products-show-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.products-show-container-main {
}

.products_show_img {
  width: 880px;
  height: 660px;
}


// side editor
.editor-wrap {
  top: 100px;
  margin: 10px 10px 10px 0px;
}

.editor-side {
}

.editor {
  background-color: antiquewhite;
  width: 400px;
  float: left;

}

// product
.product-editor {
  margin: 20px;
}

.editor-title {
  margin-top: 10px;
  margin-bottom: 0px;
}

// point
.point-editor {
  margin: 20px;
}

// itinerary
.itinerary-editor {
  margin: 20px;
}

