// products_edit
.products-wrap {
  width: 100vw;
}

.products-wrap-main {
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.product-name {
  width: 500px;
}

.product-title{
  width: 300px;
}

.product-text {
  width: 1000px;
  height: 200px;
}

.product-under {
  display: flex;
}

.product-editor-unit-box {
  margin-left: 30px;
}




.products-show-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.products_show_img {
  width: 880px;
  height: 660px;
}

