// all
label{
  margin:0;
}

li {
  list-style:  none;
}

p {
  margin:0;
}


// tops_index
.top {
  background-color: #f3f3f3;
  height: auto;
}

.col {
  padding: 0;
}

.top_video_content{
}

.top_video {
  position: relative;
  width: 100%;
  height: 100%;
  top: -3px;
}

.top_hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.top_title {
  text-align: center;
  color: aliceblue;
}

// 中間
.section {
  text-align: center;
  display: block;
}

.col-2 {
  width: 60px;
  height: 80px;
  // border-left: solid 0.1px #e6e6e6;
  // border-right: solid 0.1px #e6e6e6;
}

.section_btn img {
  width: 60px;
  height: 80px;
}

.section img {
  width: 60px;
  height: 80px;
}


.section-name {
  font-family: 'Crimson Text', serif;
}

small {
  display: block;
  margin-top: 5px;
}





// tops_edit
.products-container {
  margin-top: -6.7px;
}

.products_hero {
  position: relative;
}





// .products_items

.products_info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.products_name {
  text-align: center;
  color: aliceblue;
}

.products_text {
  text-align: center;
  color: aliceblue;
}

.products_img {
  width: 100%;
  height: 100%;
}