// all
label{
  margin:0;
}

li {
  list-style:  none;
}

p {
  margin:0;
}


// devise
.background_client{
  background-color:rgb(230, 230, 230);
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative;	 */
}

.login_ul{
  display: flex;
}

.devise_form{
  width:350px;
  height:35px;
}

.devise_title{
  margin:0;
}

// .login_ul{
// }


// tops
.col {
  padding: 0;
}

.top_video {
  position: relative;
  width: 100%;
  height: 100%;
}

.top_hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.top_title {
  text-align: center;
  color: aliceblue;
}



// 中間
.section {
  text-align: center;
  display: block;
}

.col-2 {
  width: 60px;
  height: 80px;
  // border-left: solid 0.1px #e6e6e6;
  // border-right: solid 0.1px #e6e6e6;
}

.img {
  width: 60px;
  height: 80px;
}

.section-name {
  font-family: 'Crimson Text', serif;
}

small {
  display: block;
  margin-top: 5px;
}


// tops_edit
.products-container {
  margin-top: -2.9px;
}

.products_hero {
  position: relative;
}

// .products_items {
// }

.products_info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.products_name {
  text-align: center;
  color: aliceblue;
}

.products_text {
  text-align: center;
  color: aliceblue;
}

.products_img {
  width: 100%;
  height: 100%;
}