// all
body {
  background-color: #f5f5f3;
}

label{
  margin:0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-inline-start: 0px;
}

li {
  list-style:  none;
}

p {
  margin:0;
}



// tops_index
.top {
  background-color: #eeeeee;
  height: auto;
}

.col {
  padding: 0;
}

.top_video_content{
}

.top_video {
  position: relative;
  width: 100%;
  height: 100%;
  top: -3px;
}

.top_hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.top_title {
  text-align: center;
  color: aliceblue;
}

.products_name {
font-size: 28px;
letter-spacing: 2px;
}

// 中間
.section {
  margin-top: 30px;
  text-align: center;
  display: block;
}

.col-2 {
  width: 60px;
  height: 80px;
  // border-left: solid 0.1px #e6e6e6;
  // border-right: solid 0.1px #e6e6e6;
}

.section_btn img {
  width: 60px;
  height: 80px;
}

.section img {
  width: 60px;
  height: 80px;
}


.section-name {
  font-family: 'Crimson Text', serif;
}

small {
  display: block;
  margin-top: 5px;
}




// tops_edit
.products-container {
  margin-top: -6.7px;
}

.products_hero {
  position: relative;
}



// top_new
.top-contents-row  {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 660px;
  display: block;
}

.top-new {
  margin: 20px 0;
  padding: 30px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
  box-sizing: border-box;
}

.top-new h3 {
  margin-top: 30px;
}

.top-new-field {
  margin-top: 30px;
}

.editor-title-new{
  margin-bottom: 10px;
}

.top-new-field-input {
  width: 100%;
  margin: 5px 0 15px;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック",
}


.top-new-submit {
  width: 100%;
  padding: 10px;
  background-color: #57C3E9;
  color: #f5f5f3;
  border: none;
  border-radius: 5px;
}


// .products_items

.products_info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.products_name {
  text-align: center;
  color: aliceblue;
}

.products_text {
  text-align: center;
  color: aliceblue;
}

.products_img {
  width: 100%;
  height: 100%;
}