<h1>Products#create</h1>
<p>Find me in app/views/products/create.html.erb</p>

<h1>作成されました</h1>
<%= link_to "商品ページをさらに追加する", new_product_path %>
<%#= link_to "topの編集画面に戻る", edit_top_path(@tops.id) %>
<%= link_to "topに戻る", root_path %>
